@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: fixed;
    display: flex;
    justify-content: center;
    color: rgb(var(--foreground-rgb));
    background: #fff;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}

.onboarding-top {
    border-radius: 0px 0px 256px 256px;
    background: linear-gradient(
        180deg,
        rgba(123, 97, 255, 0.48) 0%,
        rgba(123, 97, 255, 0) 100%
    );
}

.onboarding-bottom {
    border-radius: 256px 256px 0px 0px;
    background: linear-gradient(
        180deg,
        rgba(123, 97, 255, 0) 0%,
        rgba(123, 97, 255, 0.48) 100%
    );
}

.onboarding-bottom p {
    position: relative;
}

.onboarding-bottom p:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.6);
}

.onboarding-bottom p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.6);
}

.color-222 {
    color: #222;
}

.color-475467 {
    color: #475467;
}

.color-7B61FF {
    color: #7b61ff;
}

.color-667085 {
    color: #667085;
}

.color-F2F4F7 {
    color: #f2f4f7;
}

.bg-101828 {
    background-color: #101828;
}

.bg-F2F4F7 {
    background-color: #f2f4f7;
}

.bg-7b61ff {
    background-color: #7b61ff;
}

.text-1D2939 {
    color: #1d2939;
}

.bg-7B61FF {
    background-color: #7b61ff;
}

.btn-create {
    color: #fff;
    background-color: #101828;
    border-radius: 99px;
    padding: 13px;
}

.chip-button {
    background-color: #fff;
    color: #1d2939;
    border: 1px solid #d0d5dd;
    padding: 6px 12px;
    border-radius: 99px;
    font-size: 14px;
    margin: 6px 6px 6px 0;
}

.chip-button--selected {
    background-color: #7b61ff;
    color: #fff;
    border: 1px solid #7b61ff;
}

.login {
    height: calc(100% - 40px);
}

.input-error {
    border: 1px solid #dc2626;
}

.carousel-root {
    width: 100%;
    max-width: 460px;
}

.carousel,
.slider-wrapper,
.slider {
    height: 100%;
}

/* .control-dots {
    margin: 40px 0 !important;
} */

.dot {
    background: #7b61ff !important;
    box-shadow: none !important;
}

.bubles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubles > img {
    width: 316px !important;
    height: 154px !important;
}

.bubles-people {
    width: 70% !important;
    margin-top: 5%;
}

.button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.looking-container {
    border-radius: 13px;
    border: 1px solid var(--neutral-100, #f2f4f7);
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.scrollable-container {
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #98a2b3;
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 0;
}
